* {
  box-sizing: border-box;
}

/*Header section*/

header {
  display: flex;
  flex-direction: column;
}
.header{
  margin: .2vw;
}

h1 {
  text-align: center;
}

.header-info {
  margin: .2vw;
  text-align: center;
}

/*Sidebar*/

.sidebar{
  
  background-color: aqua;
}

/*Content section*/



/*footer section*/