* {
  font-family: "Merriweather";
  box-sizing: border-box;
  
}

header {
  display: flex;
  flex-direction: column;
 
}

h1 {
  text-align: center;
  text-shadow: 3px 3px black;
}

.header-box {
  background-color: rgb(108, 175, 211);
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
}

.bio-paragraph {
  font-size: calc(14px + .2em);
  margin: .5vw 0 .5vw 0;
}

.footer {
  display: flex;
  flex-direction: column;
  font-family: 'Fire Sans', sans-serif;
  background-color: rgb(108, 175, 211);
  height: 5vw;
  justify-content: center;
  align-items: center;
}

.action-call {
  font-size: calc(16px + .5vw);
}

.github-link {
  color: black;
  text-align: center;
  width: auto;
  height: auto;
  border-radius: 10px;
  box-shadow: 6px 6px 6px grey;
  background-color: #88BBD6;
  font-size: calc(16px + 2vw);
  font-weight: bold;
  text-decoration: none;
}

.github-link:hover {
  text-shadow: 2px 2px rgb(0, 0, 0);
}

a {
  text-decoration: none;
}

.lang-svg {
  width: 100%;
  height: 100%;
}

.contact-svg {
  width: 6%;
  height: auto;
}

svg:hover path {
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(200deg) brightness(104%);
}

/*------------------------Hover Effect-----------------------*/

.container .title {
  color: #1a1a1a;
  text-align: center;
}

.content {
  position: relative;
  width: 100%;
  max-width: auto;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay {
  opacity: 1;
}

.content-image {
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3 {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p {
  color: #fff;
  font-size: calc(16px);
  text-shadow: 3px 3px black;
}

.fadeIn-bottom {
  top: 80%;
}

.footer {
  display: flex;
  flex-direction: column;
  font-family: 'Fire Sans', sans-serif;
  height: auto;
  justify-content: center;
  align-items: center;
}

.action-call {
  margin: 5vw 5vw 2vw 5vw;
  text-align: center;
  font-size: calc(16px + 1.2vw);
}

/*------------------------------------------------------------------------------*/

.photo-of-self {
  height: 48vw;
  width: 40vw;
  margin: AUTO;
}

.header {
  text-align: center;
  font-size: calc(16px + 8vw);
  color: rgb(255, 255, 255);
  font-family: 'Fira Sans', sans-serif;
  margin: 2vw .2vw .5vw .2vw;
}

.header-box {
  padding: 1vw 1vw 1vw 1vw;
  display: flex;
  flex-direction: column;
}

.header-info {
  font-size: calc(16px + 1vw);
  margin: .2vw;
  text-align: center;
}

.content {
  position: relative;
  width: 100%;
  max-width: auto;
  margin: 5%;
  overflow: hidden;
}

/*link*/

.links {
  margin: 4vw .1vw 4vw .1vw;
  text-align: center;
}

.contact-img {
  height: 15vw;
}

.contact-svg {
  margin: 0 .5vw 0 .5vw;
  width: 12%;
  height: auto;
}

/*Bio/icon section*/

.lang-bio-background-span {
  background-color: #e9e9e9;
}

.photo-icon-wrapper {
  display: flex;
  flex-direction: row;
}

.lang-bio {
  padding: 4vw 10vw 1vw 10vw;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
}

.lang-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 4vw 0 4vw 0;
}

.lang-icons-top {
  display: flex;
  flex-direction: row;
}

.lang-icons-bottom {
  display: flex;
  flex-direction: row;
}

.lang-svg {
  width: 100%;
  height: auto;
}

.bio {
  font-size: calc(16px + 1.2vw);
  line-height: 1.4em;
}

/*Content section*/

.project-description {
  font-size: calc(16px + .2vw);
}

.content-span {
  padding: 3vw 3vw 20vw 3vw;
  background-color: #cdcdcd;
  display: flex;
}

.all-projects {
  display: flex;
  flex-direction: column;
  flex: 5;
}

.sidebar-right {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.project {
  margin: 4vw 0 4vw 0 ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 92vw;
}

.project-name {
  margin: 0;
  font-size: calc(16px + 3vw);
  font-family: "Fira Sans"
}

.accent-box {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 5vw 6vw 1vw 6vw;
  padding: 2vw;
  width: 80%;
  height: auto;
  background-color: rgb(108, 175, 211);
}

.project-img {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%
}

.project-text {
  margin: 2vw 12vw 2vw 12vw;
  width: 60%;
  height: 30%;
}

.project-tech-used {
  display: flex;
  padding: 1vw 1vw 1vw 0;
  flex-wrap: wrap;
}

.tech {
  background-color: #88bbd6;
  padding: 5px;
  margin: 1.5vw 2.5vw 1.5vw 0;
  border-radius: 10px;
  font-size: calc(16px + .5em);
  box-shadow: 4px 4px 4px grey;
}

.github-link {
  padding: .5vw;
  color: black;
  text-align: center;
  width: auto;
  height: auto;
  border-radius: 10px;
  box-shadow: 6px 6px 6px grey;
  background-color: #88BBD6;
  font-size: calc(16px + 1vw);
  font-weight: bold;
  text-decoration: none;
}

.footer-links {
  text-align: center;
}

.contact-svg-footer {
  height: 10vw;
}

.footer {
  padding: 0;
}

/*--------------------------------------------------------------------------*/

@media screen and (min-width: 1000px) {
  /*Header section*/
  .photo-icon-wrapper {
    display: flex;
    flex-direction: row;
    height: 26vw;
    justify-content: center;
  }
  .lang-icons {
    margin: 0;
    height: 100%;
  }
  .photo-of-self {
    height: 26vw;
    width: 20vw;
    margin: 0;
  }
  .header {
    text-align: center;
    font-size: calc(16px + 3vw);
    color: rgb(255, 255, 255);
    font-family: 'Fira Sans', sans-serif;
    margin: 2vw .2vw .5vw .2vw;
  }
  .header-info {
    font-size: calc(16px + 1vw);
    margin: .2vw;
    text-align: center;
  }
  .header-box {
    flex-direction: column;
    padding: 0 0 3vw 0;
  }
  /*link*/
  .links {
    float: left;
    width: 10%;
    display: flex;
    text-align: right;
    flex-direction: column;
    position: fixed;
    margin: 1vw 1vw 1vw 1vw;
  }
  .contact-link {
    width: 6vw;
    height: 6vw;
    text-align: left;
  }
  /*Bio/icon section*/
  .lang-bio-background-span {
    background-color: #e9e9e9;
  }
  
  .lang-svg {
    width: 12vw;;
    height: 12vw;
  }

  .bio {
    font-size: calc(16px + .7vw);
    line-height: 1.4em;
    margin: 1vw 1vw 1vw 2vw;
  }
  /*Sidebar*/
  .sidebar-left {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
  }
  .contact-svg {
    width: 100%;
    height: auto;
  }
  /*Content section*/
  .project-description {
    font-size: calc(16px + 1vw);
  }
  .content-span {
    padding: 4vw;
    background-color: #cdcdcd;
    display: flex;
  }
  .all-projects {
    display: flex;
    flex-direction: column;
    flex: 5;
  }
  .sidebar-right {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
  .project {
    margin: 3vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
  }
  .project-name {
    margin: 2vw 0 0 0;
    font-size: calc(16px + 1.6vw);
    font-family: "Fira Sans"
  }
  .accent-box {
    justify-content: center;
    align-content: center;
    padding: 2vw;
    margin: 2vw;
    height: 90%;
    width: 60%;
  }
  .content-overlay {
    width: 100%;
    height: 100%;
  }
  .project-img {
    width: 100%;
    height: 100%;
  }
  .project-text {
    margin: 1vw 1vw 1vw 3vw;
    width: 50%;
    height: 25%;
  }
  .project-tech-used {
    display: flex;
    padding: 0;
  }
  .tech {
    background-color: #88bbd6;
    padding: 5px;
    margin: 1vw;
    border-radius: 10px;
    font-size: calc(16px + 1vw);
    display: inline-block;
    box-shadow: 4px 4px 4px grey;
  }
  .github-link {
    font-family: "Merriweather";
    margin: 1vw;
    padding: 0.2vw;
    color: black;
    text-align: center;
    justify-content: center;
    width: 14vw;
    height: auto;
    border-radius: 10px;
    box-shadow: 6px 6px 6px grey;
    background-color: #88BBD6;
    font-size: calc(16px + .8vw);
    text-decoration: none;
  }
  .footer {
    display: flex;
    flex-direction: column;
    font-family: 'Fire Sans', sans-serif;
    height: auto;
    justify-content: center;
    align-items: center;
  }
  .action-call {
    text-align: center;
    font-size: calc(16px + 1.2vw);
  }
  .icons8-link {
    margin : 2vw 0 0 0;
    width: 100%;
    text-align: right;
    font-size: calc(16px + .6em);
  }
}

@media screen and (min-width: 1600px) {
  .lang-bio {
    padding: 1vw 8vw 1vw 8vw;
    display: flex;
    flex-direction: row;
  }

  .lang-icons {
    margin: 1vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    width: 5vw;
  }
  .lang-icons-top {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
  }
  .lang-icons-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
  }
  .lang-svg {
    width: auto;
    height: 6vw;
    width: 6vw;
  }
  .bio {
    margin: 0vw;
  }
  .project-tech-used {
    margin: 0;
    padding: 0;
  }
}